# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets

# ASP.NET / EF
appsettings.*.local.json
*.mdf
*.ldf

# Rider/VS Code
.vscode/

# OS
Thumbs.db
.DS_Store
