<nav class="navbar navbar-expand-lg bg-black px-4 py-3">

    <!-- Company Name -->
    <a class="navbar-brand text-white fw-bold fs-4" href="#">
        Insurance Policy App
    </a>

    <!-- Navigation -->
    <ul class="nav nav-pills ms-auto align-items-center">

        <li class="nav-item">
            <button
                class="nav-link"
                (click)="router.navigate(['/dashboard/products'])"
                routerLinkActive="activeLink">
                Browse Products
            </button>
        </li>

        
        <li class="nav-item">
            <button class="nav-link"
            (click)="router.navigate(['/dashboard/policy'])"
            routerLinkActive="activeLink">
                My Policies
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link"
            (click)="router.navigate(['/dashboard/claim'])"
            routerLinkActive="activeLink">
                My Claims
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link"
            (click)="router.navigate(['/dashboard/profile'])"
            routerLinkActive="activeLink">
                Profile
            </button>
        </li>

        <!-- Logout -->
        <li class="nav-item ms-3">
            <button
                class="btn btn-outline-light"
                (click)="logout()">
                Logout
            </button>
        </li>

    </ul>

</nav>

<router-outlet></router-outlet>