<nav class="navbar navbar-expand-lg bg-black px-4 py-3">

    <!-- Company Name -->
    <a class="navbar-brand text-white fw-bold fs-4" href="#">
        Insurance Policy App
    </a>

    <!-- Navigation -->
    <ul class="nav nav-pills ms-auto align-items-center">

        <li class="nav-item">
            <button
                class="nav-link"
                (click)="router.navigate(['/admin/dashboard/products'])"
                routerLinkActive="activeLink">
                Products
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link"
            (click)="router.navigate(['/admin/dashboard/plans'])"
            routerLinkActive="activeLink">
                Plans
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link"
            (click)="router.navigate(['/admin/dashboard/policy'])"
            routerLinkActive="activeLink">
                Policies
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link"
            (click)="router.navigate(['/admin/dashboard/claim'])"
            routerLinkActive="activeLink">
                Claims
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link"
            (click)="router.navigate(['/admin/dashboard/user'])"
            routerLinkActive="activeLink">
                Users
            </button>
        </li>

        <!-- Logout -->
        <li class="nav-item ms-3">
            <button
                class="btn btn-outline-light"
                (click)="logout()">
                Logout
            </button>
        </li>

    </ul>

</nav>

<router-outlet></router-outlet>