<h3>Claim Review</h3>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Claim ID</th>
            <th>Claim Number</th>
            <th>Policy Number</th>
            <th>Policy Id</th>
            <th>Claim Amount</th>
            <th>Claim Reason</th>
            <th>Incident Date</th>
            <th>Claim Status</th>
            <th>InternalStaff Remarks</th>
            <th>Admin Remarks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of claims()">
            <td>{{p.claimId}}</td>
            <td>{{p.claimNumber}}</td>
            <td>{{p.policyNumber}}</td>
            <td>{{p.policyId}}</td>
            <td>{{p.claimAmount}}</td>
            <td>{{p.claimReason}}</td>
            <td>{{p.incidentDate}}</td>
            <td>{{p.claimStatus}}</td>
            <td>{{p.internalStaffRemarks}}</td>
            <td>{{p.adminRemarks}}</td>
        </tr>
    </tbody>
</table>